<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Send Data</h1>
    <form action="/saveData" method="post">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="walletAddress" placeholder="Wallet Address" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="discord" placeholder="Discord ID">
        <input type="submit" value="Send">
    </form>
</body>
</html>